<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe</title>
        <link href="/static/styles.css" rel="stylesheet">
    </head>

    <body>
        <!--Display winner/turn-->
        <div class="container">
            <h1 class="winner">
                {% if winner != "" %}
                    
                    {% if winner == "Tie!" %}
                        {{winner}}    
                    {% else %}
                        {{winner}} is the winner!
                    {% endif %}

                {% else %}    
                    Turn: {{ turn }}
                {% endif %}
            </h1>
        </div>

        <!--Game Board-->
        <div class="container">
            <div class="board-bg">
                <table>
                    {% for i in range(3) %}
                        <tr>
                            {% for j in range(3) %}
                                    <td>
                                        {% if game[i][j] %}
                                            <div class="move">{{ game[i][j] }}</div>
                                        {% else %}
                                            <a class="block" href="{{ url_for('play', row=i, col=j) }}"></a>        
                                        {% endif %}
                                        
                                    </td>           
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <!--Buttons-->
        <div class="buttons">
            <form action="/undo" method="post">
                <button class="myButton" type="submit">Undo move</button>
            </form>

            <form action="/reset" method="post">
                <button class="myButton" type="submit">Reset game</button>
            </form>
        </div>
    </body>
    <script>
        winner = document.querySelector(".winner");
        if (winner.innerHTML == "") {
            winner.style.display = "none";
        }
        else {
            winner.style.display = "block";
        }

    </script>
</html>