<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe</title>
        <link href="/static/styles.css" rel="stylesheet">
    </head>

    <body>
        <!--Game Board-->
        <div class="container">
            <div class="board-bg">
                <table>
                    {% for i in range(3) %}
                        <tr>
                            {% for j in range(3) %}
                                <td>
                                    {% if game[i][j] %}
                                        {{ game[i][j] }}
                                    {% else %}
                                        <a href="{{ url_for('play', row=i, col=j) }}">Play {{ turn }} here.</a>        
                                        
                                        {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>


        <!--Display winner-->
        <div class="container">
            <h2 class="winner">
            {% if winner != "" %}
                
                {% if winner == "Tie!" %}
                    {{winner}}    
                {% else %}
                    {{winner}} is the winner!
                {% endif %}

            {% endif %}
            </h2>
        </div>
        
        <!--Buttons-->
        <div class="buttons">
            <form action="/undo" method="post">
                <button class="myButton" type="submit">Undo move</button>
            </form>
            
            <form action="/minimax/game/turn" method="post">
                <button class="myButton" type="submit">Let computer make move</button>
            </form>

            <form action="/reset" method="post">
                <button class="myButton" type="submit">Reset game</button>
            </form>
        </div>
    </body>
</html>